/*@import url('https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');*/
/*font-family: 'Allison', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Audiowide', cursive;
font-family: 'Noto Sans KR', sans-serif; */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');/*xeicon*/

body {font-family:'Open Sans', 'Noto Sans KR', sans-serif;color:#fff;}

#header h1 {position:fixed;top:30px;left:30px;z-index:999;}
#header i {position:fixed;top:60px;right:60px;font-size:30px;cursor:pointer;z-index:999;}
#header nav {position:fixed;top:50%;right:60px;transform:translateY(-50%);z-index:999;}
#header nav li {margin:10px 0;position:relative;height:10px;}

#header nav a {display:block;width:4px;height:4px;border-radius:50%;text-indent:-9999px;position:absolute;right:0;top:0;transition:0.3s;}
#header nav li a:before {content:"";display:block;width:16px;height:4px;border-radius:4px;background:#ff0;position:absolute;top:0;right:0;}
#header nav li.on a:after {content:"";display:block;width:16px;height:4px;border-radius:4px;background:#fff;position:absolute;top:0;right:0;animation:twinkle 2s infinite;}
#header nav li.on a {transform:scale(1.5);z-index:-2;}

@keyframes twinkle{
    0% {transform:scale(1);opacity:0.5;}
    50% {transform:scale(2.5);opacity:0;}
    100% {transform:scale(1);opacity:0;}
}

/*re_header*/
@media (max-width:768px) {
    #header h1 {position:fixed;top:30px;left:30px;z-index:999;}
    #header i {position:fixed;top:30px;right:30px;font-size:30px;cursor:pointer;z-index:999;}
    #header nav {display:none;position:fixed;top:50%;right:30px;transform:translateY(-50%);z-index:999;}
    #header nav li {margin:5px 0;position:relative;height:10px;}
}

/*intro_m00*/
.m00 h2 {font-size:80px;text-align:center;font-family: 'Audiowide', cursive;letter-spacing:0.025em;margin-bottom:20px;transform:translateY(400px);opacity:0;}
.m00 p {font-size:12px;text-align:center;letter-spacing:0.025em;line-height:1.8;transform:translateY(0);opacity:0;}

.m00.on h2 {transform:translateY(0);opacity:1;transition:2s 0.5s;}
.m00.on p {transform:translateY(0);opacity:1;transition:2s 2s;}


/*responsive_m00*/
@media (max-width:768px){
    .m00 h2 {font-size:40px;text-align:center;font-family: 'Audiowide', cursive;letter-spacing:0.025em;margin-bottom:20px;transform:translateY(400px);opacity:0;padding:0 15px;}
    .m00 p {font-size:12px;text-align:center;letter-spacing:0.025em;line-height:1.4;transform:translateY(0);opacity:0;}

    .m00.on h2 {transform:translateY(0);opacity:1;transition:2s 0.5s;}
    .m00.on p {transform:translateY(0);opacity:1;transition:2s 2s;}
}

/*m01_main_video*/
.m01 {background:#18151e url(./assets/img/bg01.png);height:100vh;}
.m01 .container {display:flex;width:1400px;margin:0 auto;}
.m01 .container .mockup {flex:1;}
.m01 .container .txt {flex:1;display:flex;order:-1;align-items:center;margin-right:30px;}
.m01 .container .mockup figure {border:5px solid #AE00FB;border-radius: 5px;background-size: contain;height:390px;width:100%;margin-right:30px;}
.m01 .container .portfolio_01 {padding-bottom:56.25%;overflow:hidden;height:0;}
.m01 .txt h3 {font-size:60px;font-family: 'Audiowide', cursive;margin-bottom:30px;}
.m01 .txt p {font-size:14px;font-weight:300;margin-bottom:30px;line-height:1.4;}
.m01 .txt ul {line-height:1.4;margin-bottom:30px;}
.m01 .description>i {font-size:40px;color:#fff;border:5px solid #AE00FB;padding:10px;border-radius:5px;margin-right:15px;}
.m01 .description>i.on {color:#AE00FB}
.m01 .description a i {font-size:40px;color:#fff;border:5px solid #AE00FB;padding:10px;border-radius:5px;margin-right:15px;}


/*responsive_m01*/  
@media (max-width:768px) {
    .m01 {background:#18151e url(./assets/img/bg01.png);position:relative;height:100vh;}
    .m01 .container {display:flex;flex-direction:column;width:auto;margin:0 auto;padding:30px 30px 0 30px;}
    .m01 .container .mockup {flex:1;order:-1;margin-bottom:20px;}
    .m01 .container .txt {flex:1;display:flex;align-items:center;}
    .m01 .container .mockup figure {border:5px solid #AE00FB;border-radius: 5px;background-size: contain;height:auto;}
    .m01 .container .mockup figure .portfolio_01 {padding-bottom:56.25%;overflow:hidden;}
    .m01 .txt h3 {font-size:30px;font-family: 'Audiowide', cursive;margin-bottom:20px;}
    .m01 .txt p {font-size:12px;font-weight:300;line-height:1.4;margin-bottom:20px;}
    .m01 .txt ul {line-height:1.4;margin-bottom:30px;}
    .m01 .description>i {font-size:20px;color:#fff;background:#AE00FB;padding:5px;border-radius:5px;margin-right:10px;}
    .m01 .description a i {font-size:20px;color:#fff;background:#AE00FB;padding:5px;border-radius:5px;margin-right:10px;}
}

/*m02_video*/
.m02 {background:#18151e url(./assets/img/bg02.png);height:100vh;}
.m02 .container {display:flex;width:1400px;margin:0 auto;}
.m02 .container .mockup {flex:1;margin-right:30px;}
.m02 .container .txt {flex:1;display:flex;align-items:center;}
.m02 .container .mockup figure {border:5px solid #AE00FB;border-radius: 5px;background-size: contain;height:390px;width:100%;margin-right:30px;}
.m02 .container .portfolio_02 {padding-bottom:56.25%;overflow:hidden;height:0;}
.m02 .txt h3 {font-size:60px;font-family: 'Audiowide', cursive;margin-bottom:30px;}
.m02 .txt p {font-size:14px;font-weight:300;margin-bottom:30px;line-height:1.4;}
.m02 .txt ul {line-height:1.4;margin-bottom:30px;}
.m02 .description>i {font-size:40px;color:#fff;border:5px solid #AE00FB;padding:10px;border-radius:5px;margin-right:15px;}
.m02 .description>i.on {color:#AE00FB}
.m02 .description a i {font-size:40px;color:#fff;border:5px solid #AE00FB;padding:10px;border-radius:5px;margin-right:15px;}
.m02 .description a i.on {color:#AE00FB}

/*re_m02*/
@media (max-width:768px) {
    .m02 {background:#18151e url(./assets/img/bg02.png);position:relative;height:100vh;}
    .m02 .container {display:flex;flex-direction:column;width:auto;margin:0 auto;padding:30px 30px 0 30px;}
    .m02 .container .mockup {flex:1;order:-1;margin-bottom:20px;}
    .m02 .container .txt {flex:1;display:flex;align-items:center;}
    .m02 .container .mockup figure {border:5px solid #AE00FB;border-radius: 5px;background-size: contain;height:auto;}
    .m02 .container .mockup figure .portfolio_02 {padding-bottom:56.25%;overflow:hidden;}
    .m02 .txt h3 {font-size:30px;font-family: 'Audiowide', cursive;margin-bottom:20px;}
    .m02 .txt p {font-size:12px;font-weight:300;line-height:1.4;margin-bottom:20px;}
    .m02 .txt ul {line-height:1.4;margin-bottom:30px;}
    .m02 .description>i {font-size:20px;color:#fff;background:#AE00FB;padding:5px;border-radius:5px;margin-right:15px;}
    .m02 .description a i {font-size:20px;color:#fff;background:#AE00FB;padding:5px;border-radius:5px;margin-right:15px;}
}

/*m03_main_video*/
.m03 {background:#18151e url(./assets/img/bg01.png);height:100vh;}
.m03 .container {display:flex;width:1400px;margin:0 auto;}
.m03 .container .mockup {flex:1;}
.m03 .container .txt {flex:1;display:flex;order:-1;align-items:center;margin-right:30px;}
.m03 .container .mockup figure {border:5px solid #AE00FB;border-radius: 5px;background-size: contain;height:390px;width:100%;margin-right:30px;}
.m03 .container .portfolio_03 {padding-bottom:56.25%;overflow:hidden;height:0;}
.m03 .txt h3 {font-size:60px;font-family: 'Audiowide', cursive;margin-bottom:30px;}
.m03 .txt p {font-size:14px;font-weight:300;margin-bottom:30px;line-height:1.4;}
.m03 .txt ul {line-height:1.4;margin-bottom:30px;}
.m03 .description>i {font-size:40px;color:#fff;border:5px solid #AE00FB;padding:10px;border-radius:5px;margin-right:15px;}
.m03 .description>i.on {color:#AE00FB}
.m03 .description a i {font-size:40px;color:#fff;border:5px solid #AE00FB;padding:10px;border-radius:5px;margin-right:15px;}
.m03 .description a i.on {color:#AE00FB}

/*responsive_m03*/
@media (max-width:768px) {
    .m03 {background:#18151e url(./assets/img/bg01.png);position:relative;height:100vh;}
    .m03 .container {display:flex;flex-direction:column;width:auto;margin:0 auto;padding:30px 30px 0 30px;}
    .m03 .container .mockup {flex:1;order:-1;margin-bottom:20px;}
    .m03 .container .txt {flex:1;display:flex;align-items:center;}
    .m03 .container .mockup figure {border:5px solid #AE00FB;border-radius: 5px;background-size: contain;height:auto;}
    .m03 .container .mockup figure .portfolio_03 {padding-bottom:56.25%;overflow:hidden;}
    .m03 .txt h3 {font-size:30px;font-family: 'Audiowide', cursive;margin-bottom:20px;}
    .m03 .txt p {font-size:12px;font-weight:300;line-height:1.4;margin-bottom:20px;}
    .m03 .txt ul {line-height:1.4;margin-bottom:30px;}
    .m03 .description>i {font-size:20px;color:#fff;background:#AE00FB;padding:5px;border-radius:5px;margin-right:15px;}
    .m03 .description a i {font-size:20px;color:#fff;background:#AE00FB;padding:5px;border-radius:5px;margin-right:15px;}
}


/*video_slider*/
.m04 {background:#18151e url(./assets/img/bg02.png);}
.m04 .video_slider {width:1400px;margin:0 auto;}
.m04 .video_slider figure{padding:0 15px;}
.m04 .video_slider figure .video {padding-bottom:56.25%;position:relative;}
.m04 iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

.m04 .slick-dots {display:flex;justify-content:center;margin-top:40px;}
.m04 .slick-dots li {width:60px;height:6px;border-radius:3px;background:#5C527F;overflow:hidden;margin:0 4px;transition:0.5s}
.m04 .slick-dots li:after {content:'';display:block;width:0%;height:100%;background: #ff0;}
.m04 .slick-dots li.slick-active:after {width:100%;transition:2s;}
.m04 .slick-dots button {display:none;}

.m04>div>i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:100px;}
.m04>div>i.xi-angle-left-thin {margin-left:-850px;transform:translateY(-70px);}
.m04>div>i.xi-angle-right-thin {margin-left:750px;transform:translateY(-70px);}

/*re_m04*/
@media (max-width:768px) {
    .m04 {background:#18151e url(./assets/img/bg02.png);}
    .m04 .video_slider {width:auto;margin:0 auto;}
    .m04 .video_slider figure{padding:0 15px;}
    .m04 .video_slider figure .video {padding-bottom:56.25%;margin:20px 0 20px 0;position:relative;}
    .m04 iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
    
    .m04 .slick-dots {display:flex;justify-content:center;margin-top:40px;}
    .m04 .slick-dots li {width:20px;height:20px;border-radius:50%;background:#5C527F;overflow:hidden;margin:0 4px;transition:0.5s}
    .m04 .slick-dots li:after {content:'';display:block;width:0%;height:100%;background: #ff0;}
    .m04 .slick-dots li.slick-active:after {width:100%;transition:2s;}
    .m04 .slick-dots button {display:none;}
    
    .m04>div>i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:100px;}
    .m04>div>i.xi-angle-left-thin {display:none;margin-left:-800px;transform:translateY(-70px);}
    .m04>div>i.xi-angle-right-thin {display:none;margin-left:700px;transform:translateY(-70px);}
}






/*m05*/
.m05 {position:relative;background:#18151e url(./assets/img/bg01.png);padding:50px 0;}
.m05 .container {display:flex;justify-content:space-between;width:1400px;margin:0 auto;}
.m05 .container figure {width:180px;border-radius:50%;overflow:hidden;border:10px solid #5C527F;}
.m05 .container figure img {width:100%;cursor:pointer;}
.m05 .container h2 {font-size:60px;font-weight:300;margin-bottom:20px;font-family: 'Audiowide', cursive;}
.m05 .container p {font-size:14px;font-weight:100;line-height:25px;margin-left:10px;}

/*re_m05*/
@media (max-width:768px){
    .m05 {position:relative;background:#18151e url(./assets/img/bg01.png);padding:50px 0;text-align:center;align-items:center}
    .m05 .container {display:flex;flex-direction:column;justify-content:space-between;width:auto;margin:0 auto;}
    .m05 .container figure {width:180px;border-radius:50%;overflow:hidden;border:10px solid #5C527F;margin:30px auto;}
    .m05 .container figure img {width:100%;cursor:pointer;}
    .m05 .container h2 {font-size:40px;font-weight:300;margin-bottom:20px;font-family: 'Audiowide', cursive;}
    .m05 .container p {text-align:left;font-size:14px;font-weight:100;margin-left:100px;}
}

/*full*/
#full {position:fixed;top:0;left:0;width:100%;height:0;overflow:hidden;background:#18151e url(./assets/img/bg01.png);transition:0.3s;z-index:1000;}
#full .container {display:flex;width:1000px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
#full .container>* {padding:0 30px;width:600px;align-items:center;}
#full .container img {width:200px;border-radius:50%;border:10px solid #5C527F;margin-bottom:30px;}
#full .container>.profile_img {width:400px;margin-left:50px;}

#full .b_profile {flex:1;width:640px;}
#full .b_profile h2 {font-size:36px;font-weight:300;margin-bottom:20px;font-family: 'Audiowide', cursive;}
#full .b_profile li {line-height:30px;transition:0.3s;text-align: left;}
#full .b_profile li:hover {color:#AE00FB;}
#full .b_profile li:before {content:"\e9b2";font-family: xeicon!important;margin-right:10px;transition:0.3s}
#full .b_profile li:hover:before {content:"\e9fa";font-family: xeicon!important;margin-right:20px;}
#full .b_profile li:after {content:"click";margin-left:30px;opacity:0;font-size:12px;color:#999;transition:0.3s}
#full .b_profile li:hover:after {content:"click";margin-left:30px;font-size:12px;color:#999;opacity:1;}

#full .profile_txt {flex:1;}
#full .profile_txt h2 {font-size:24px;font-weight:300;margin-bottom:20px;font-family: 'Audiowide', cursive;}
#full .profile_txt p {margin-bottom:20px;line-height:1.4;}
#full .profile_txt progress {width:60px;}

#full>i {position:absolute;top:60px;right:60px;font-size:30px;cursor:pointer;}
#full.on {height:100vh;}

/*re_full*/
@media (max-width:768px){
    #full {position:fixed;top:0;left:0;width:100%;height:0;overflow:hidden;background:#18151e url(./assets/img/bg01.png);transition:0.3s;z-index:1000;align-items: center;}
    #full .container {display:flex;flex-direction:column;width:auto;height:100%;padding:70px 30px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;align-items:center;}
    #full .container>.profile_img {width:100%;margin:0;}
    #full .container figure {text-align: center;margin-top:20px;};
    #full .container img {display:block;width:200px;border-radius:50%;border:10px solid #5C527F;margin-bottom:30px;text-align:center;}
    #full .b_profile {flex:1;width:100%;text-align:center;}
    #full .b_profile h2 {font-size:40px;font-weight:300;margin-bottom:40px;font-family: 'Audiowide', cursive;}

    #full .b_profile li {display:none;line-height:30px;transition:0.3s;}
    
    #full .profile_txt {flex:1;width:auto;height:200px;overflow-y:scroll;-webkit-overflow-scrolling: touch;}
    #full .profile_txt h2 {font-size:24px;font-weight:300;margin-bottom:20px;font-family: 'Audiowide', cursive;text-align:left;}
    #full .profile_txt p {margin-bottom:20px;line-height:1.4;text-align:left;}
    #full .profile_txt progress {width:60px;}

    #full>i {position:absolute;top:60px;right:60px;font-size:30px;cursor:pointer;}
    #full.on {height:100vh;}
}



/*footer*/
#footer .copyright {position:fixed;bottom:30px;left:30px;z-index:999;}
#footer i {position:fixed;bottom:60px;right:60px;font-size:30px;cursor:pointer;z-index:999;}
/*re_footer*/
@media (max-width:768px){
    #footer .copyright {position:fixed;bottom:20px;left:20px;z-index:999;}
    #footer i {position:fixed;bottom:30px;right:30px;font-size:30px;cursor:pointer;z-index:999;}
}










/* .section:nth-child(even) {background:#bbbbbb;} */